.comments-container {
}

.comment-user {
  margin: 0.3rem 0;
}

.comment-text {
}

.comment-textarea {
  min-width: 100%;
  height: 100px;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
}
