.SignUp-container {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 520px;
  background-color: var(--color-secundary-0);
  min-height: 30vh;
  font-size: 1.1rem;
  border: 1px solid rgba(50, 235, 158, 0.52);
  padding: 2.5rem;
  color: white;
}

.already-user {
}

.btn-form-link {
  background-color: transparent;
  border: none;
  color: var(--color-btn-blue);
  cursor: pointer;
}

.btn-form-link:hover {
  opacity: 0.8;
}
