.left-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  overflow-x: hidden;
  background-color: rgb(247, 247, 247);
}

.left-nav-container {
  display: flex;
  flex-direction: column;
}

.left-logo h1 a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.left-nav-list {
  list-style-type: none;
}

.left-nav-list li > a {
  text-decoration: none;
  color: black;
}
