.feed-container {
  margin: 0.4rem 0.4rem;
  padding: 0.8rem;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  display: flex;
  cursor: pointer;
}

.feed-time {
  flex: 0 0 3.5%;
  text-align: right;
  margin-right: 1rem;
}

.feed-title {
}

.feed-url {
  display: inline-block;
  font-size: 0.8rem;
}

.feed-likes {
  text-align: right;
  flex: 1 0 10%;
}

.icon-thumb {
  margin: 0 0.5rem;
  color: rgb(211, 211, 211);
}

.icon-link {
  margin: 0 0.4rem;
  color: rgb(211, 211, 211);
}
