.link-open-container {
  overflow-y: auto;
  height: 100%;
  width: 40%;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}

.open-title {
  overflow-wrap: break-word;
}

.open-source {
  font-size: 1rem;
  font-weight: 400;
}

.open-body {
  margin: 1rem 0rem;
}

.icon-link {
  font-size: 1rem;
}

.open-image {
  margin-top: 1rem;
}

.btn-comment {
  min-width: 100%;
  padding: 0.5rem;
  text-transform: uppercase;
}
