.link-open-container {
  overflow-y: auto;
  height: 100%;
  width: 40%;
  background-color: var(--color-primary-1);
  color: var(--color-text-0);
  padding: 1.3rem;
}

.open-title-link {
  text-decoration: none;
  cursor: pointer;
}

.open-title {
  display: inline;
  overflow-wrap: break-word;
  text-decoration: none;
  color: var(--color-text-0);
}

.open-title-container:hover {
  opacity: 0.7;
}

.open-source-container {
  margin-top: 0.5rem;
}

.open-source {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-text-3);
}

.open-body {
  overflow-wrap: break-word;
  color: var(--color-text-2);
  margin: 1rem 0rem;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.3;
}

.icon-link {
  font-size: 1rem;
}

.source-link {
  transition: 0.3s;
  color: var(--color-hover-blue);
}

.source-link:hover {
  background-color: var(--color-hover-blue);
  padding: 0.3rem;
  color: black;
}

.open-image {
  text-align: center;
  margin-top: 1rem;
}
