.feed-likes {
  text-align: right;
  flex: 1 0 10%;
  color: var(--color-text-1);
}

.icon-thumb {
  margin: 0 0.5rem;
  color: var(--color-text-3);
  transition: 0.4s;
}

.thumb-green:hover {
  color: var(--color-icon-up);
}

.thumb-red:hover {
  color: var(--color-icon-down);
}

.icon-green {
  color: var(--color-icon-up);
}

.icon-red {
  color: var(--color-icon-down);
}

.icon-red:hover {
  opacity: 0.8;
}

.icon-green:hover {
  opacity: 0.8;
}

.btn-like {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
