@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary-0: #1c1d1f;
  --color-primary-1: #0b0c0f;
  --color-primary-2: #0d0d0f;
  --color-primary-3: #1b1b22;

  --color-secundary-0: #3a5d59;
  --color-secundary-1: #308d83;

  --color-text-0: #fff;
  --color-text-1: rgb(202, 202, 202);
  --color-text-3: rgb(180, 180, 180);

  --color-icon-up: rgb(83, 212, 78);
  --color-icon-down: rgb(253, 55, 55);

  --color-btn-blue: #22c1dd;
  --color-btn-red: rgb(243, 51, 51);
  --color-hover-blue: #4be4ff;

  --color-user: rgb(253, 122, 46);
  --color-user-1: rgb(50, 235, 158);

  --color-logo: rgb(255, 238, 164);
}
