html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font: "Montserrat", sans-serif;

  --color-primary-0: #1c1d1f;
  --color-primary-1: #0b0c0f;
  --color-primary-2: #0f0f14;
  --color-primary-3: #1b1b22;

  --color-secundary-0: #0e141a;
  --color-secundary-1: #308d83;

  --color-text-0: #eee;
  --color-text-1: rgb(197, 197, 197);
  --color-text-2: rgb(216, 216, 216);
  --color-text-3: rgb(180, 180, 180);

  --color-icon-up: rgb(66, 216, 116);
  --color-icon-down: rgb(245, 65, 65);

  --color-btn-blue: #22c1dd;
  --color-btn-red: rgb(243, 51, 51);
  --color-hover-blue: #4be4ff;
  --color-btn-edit: rgb(255, 192, 74);

  --color-user: rgb(253, 122, 46);
  --color-user-1: rgb(50, 235, 158);

  --color-logo: rgb(119, 230, 187);
}
